body{
    background: #dddddd;
    padding: 5px;
    margin: 0px;
    overflow: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #444444;
    font-family: Arial;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.center{
    text-align: center;
}

.heading {
    color: #008800;
}

.workspace {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    flex-grow: 1;
}

.vertically-centered {
    display: flex;
    overflow: auto;
    padding: 5px;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.block-flow-item{
    display: flex;
    height: 150px;
    width: 150px;
    text-align: center;
    background: #ffffff;
    padding: 5px;
    margin: 5px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.bold-content{
    font-weight: bold;
}

.dark {
    background-color: #aaaaaa;
}

.hover-shadow:hover{
    box-shadow: 3px 3px 3px #888888;

    color: #008800;
}

.extra-large-font{
    font-size: 50px;
}

.positive{
    color: #008800;
}

.positive:before{
    content: "+";
}

.negative{
    color: #880000;
    margin-left: 8px;
    margin-right: 8px;
}

.negative:before{
    content: "-";
    position: relative;
    top: -1px;
}

.result{
    color: #aaaa00;
}

.result:before{
    content: " : ";
}

.ignore-whitespace{
    display: flex;
}

.white-panel{
    padding: 20px;
    background: #ffffff;
    margin: 5px;
}

.login-with{
    display: block;
    border: 1px solid #dddddd;
    line-height: 40px;
    padding: 0px 20px;
    font-weight: bold;
}

.login-with:hover{
    border: 1px solid #008800;
}

.github{
    padding-left: 50px;
    background: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid transparent;
}

.avatar:hover{
    border: 2px solid #008800;
}

.menu{
    display: none;
    position: absolute;
    right: 10px;
    top: 55px;
    width: 150px;

    padding: 5px;
    background: #ffffff;

    box-shadow: 3px 3px 3px #888888;
    z-index: 10;
}

.menu:before {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    background: #ffffff;
    transform: rotate(-45deg);
    top: -5px;
    right: 15px;
    z-index: 9;
}

.show-menu + .menu {
    display: block;
}

.menu-item {
    font-size: 15px;
    display: block;
    padding: 3px 0px;
}

.menu-item-clickable:hover{
    color: #008800;
}

.menu-item-heading{
    font-weight: bold;
    text-align: center;
}

.menu-item-note{
    color: #aaaaaa;
}

.menu-item + .menu-item{
    border-top: 1px solid #cccccc;
}