<html>
<head>
    <title>Retrospect</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />
</head>
<body>
    <h3 class="center heading">Retrospect</h3>
    <div class="workspace">
        <div class="vertically-centered">
            <div class="white-panel error-panel">
                <h4>Error occurred</h4>
                <ol>
                    <li th:text="${timestamp}"></li>
                    <li>
                        <a th:href="${path}" th:text="${path}"></a>
                    </li>
                    <li>
                        <span th:text="${status + '-'}"></span>
                        <span th:text="${error}"></span>
                    </li>
                    <li th:text="${message}"></li>
                    <li th:text="${exception}"></li>
                    <li>
                       <div class="overflow pre-text" th:text="${trace}"></div>
                    </li>
                </ol>
                <a href="/list">Back to list</a>
            </div>
        </div>
    </div>
</body>
</html>