<html>
<head>
    <title>Retrospect</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />
</head>
<body>
<h3 class="center heading">Retrospect</h3>
<div class="workspace">
    <div class="vertically-centered">
        <div class="white-panel">
            <h4 class="center">Login with:</h4>
            <div class="list">
                <a class="login-with facebook" href="/login/facebook">Facebook</a>
                <a class="login-with github" href="/login/github">GitHub</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>