<html>
<head>
    <title>Retrospect</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />
</head>
<body>
<h3 class="center heading">Retrospect</h3>
<div class="workspace relative flex-grow">
    <div class="vertically-centered">
        <div class="white-panel">
            <h4 class="center">Login with:</h4>
            <div class="list">
                <th:block th:each="provider : ${viewModel}">
                    <a th:class="${'login-with ' + provider.className}" th:href="${provider.loginPath}" th:text="${provider.displayName}"></a>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>