<html>
<head>
    <title>Retrospect</title>
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />
</head>
<body>
<h3 class="center heading">Retrospect</h3>
<div class="workspace">
    <div class="vertically-centered">
        <div class="white-panel">
            <h4 class="center">Login with:</h4>
            <div class="list">
                <a class="login-with github">GitHub</a>
            </div>
        </div>

        <div class="force-wrap"></div>

        <form action="/session" method="post" class="white-panel">
            <input type="hidden" name="returnUrl" th:value="${request.returnUrl}" />
            <h5>Temporary</h5>
            <label>
                Username
                <input name="username" th:value="${request.username}" />
            </label>
            <div class="center">
                <button class="hover-shadow">Login</button>
            </div>

            <div class="error-message" th:if="${request.error != '' && request.error != null}">
                <span th:text="${request.error}"></span>
            </div>
        </form>
    </div>
</div>
</body>
</html>